<h1>Update Owner</h1>
<form action="/owners/<%=@owner.id%>" method="post">
  <label>Name: </label></br>
  <label>Choose an existing pet: </label>
  <%Pets.all.each do |pet|%>
    <input type="checkbox" name="owner[pet_ids][]" value="<%pet.id%>" id="<%pet.id%>" <%='checked' if @owner.pets.include?(pet) %>><%=pet.name%></input>
  <%end%>
  <br></br>
  <label>And/Or - Create a new pet:</label>
  <input type="text" name="pet[name]"></input>
  <input type="submit" value="Creat Owner">
</form>
