<h1>Update Owner</h1>

<form action="/owners" method="POST">
  <p><label>Name:</label></p>

  <p><input type="text" name="owner[name]"></p>

  <p><label>Choose an existing pet:</label></p>

  <p><% @pets.each do |pet| %>
      <input type="checkbox" name="owner[pet_ids][]" value="<%= pet.id %>" id="<%= pet.id %>" <%='checked' if @owner.pets.include?(pet) %>><%= pet.name %></input>
    <% end %>
  </p>

  <p><label>and/or, create a new pet:</label></p>

  <p><label>Name:</label></p>

  <p><input  type="text" name="pet[name]"></input></p>

  <p><input type="submit" value="Update Owner"></p>
</form>
