<%@owners.each do |owner|%>
  <h2>Owner Name: <%=owner.name%></h2>
  <h4>Owner's Pets:
    <%if owner.pets.count == 0%>
      This owner does not have pets.
    <%end%></h4>
  <ul>
    <%owner.pets.each do |pet|%>
      <li><%=pet.name%></li>
    <%end%>
  </ul>
  <br>
<%end%>
