<% require 'pry' %>
<h1>Create a new Owner</h1>

<form action="/owners" method="POST">
  <label>Name:</label>

  <br>

  <input type="text" name="owner[name]">

  <br>
  <label>Pet:</label>
  <% @pets.each do |pet| %>
    <input type="checkbox" name="<%= pet.id %>">pet.name<br>
  <% end %>
  <input type="text" name="pet[name]">
  <input type="submit" value="Create Owner">

</form>
