<h1>Create a new Owner</h1>

<form action="/owners" method="POST">
  <label for="owner_name">Name:</label>

  <br>

  <input type="text" name="owner[name]" id="owner_name">

  <br>
  
  <!-- My attempt: -->
  
  <!-- <label>Pets:</label>

  <br>
  
  <ul>
    <%# @pets.each do |pet| %>
      <li><%#= pet.name %></li>
    <%# end %>
  </ul>
  
  <br> -->
  
  <!-- End of my attempt -->
  
  <% @pets.each do |pet| %>
    <input type="checkbox" name="owner[pet_ids][]" id="<%= pet.id %>" value="<%= pet.id %>"><%= pet.name %></input><br>
  <% end %>

  <input type="submit" value="Create Owner">
</form>
