<h1>Create a new Owner</h1>

<form action="/owners" method="POST">
  <label>Name:</label>

  <br>

  <input type="text" name="owner[name]">

  <br>
  <h3>Choose an Existing Pet</h3>
  <% @pets.each do |p| %>
    <p><input type="checkbox" name="owner[pet_ids][]" value="<%= p.id %>" id="<%= p.id %>"><%= p.name %></p>
  <% end %>

  <br>

  <input type="submit" value="Create Owner">
</form>
