<h1>Create a new Owner</h1>

<form action="/owners" method="POST">
  <label>Name:</label>
  
  <br></br>
  
  <input type="text" name="owner[name]">
  
  <br></br>
  
  Pets Associated With This Owner:
  <% @pets.each do |pet| %>
    <p><input type="checkbox" name="owner[pet_ids][]" value="<%=pet.id%>" id="<%=pet.id%>"><%=pet.name%></p>
  <% end %>
  
  Don't See Your Pet Here? Add a New One:
  <p><label>Name:</label>
  <input  type="text" name="pet[name]"></p>

  <input type="submit" value="Create Owner">
</form>