<h1>Create a new Owner</h1>

<form action="/owners" method="POST">
  <label>Name:</label>
  <br></br>
  <input type="text" name="owner[name]">
  <br></br>
  <p>Select your pet(s):</p>

  <%@pets.each do |pet|%>
      <input type="checkbox" name="owner[pet_ids][]" value="<%=pet.id%>" id="<%=pet.id%>"><%=pet.name%></input>
  <%end%>
  <br></br>
  <p>To also add a new pet, type name below:</P>
    <label>New pet name:</label>
    <input type="text" name="pet[name]"></input>
    <br></br>
    <br></br>
  <input type="submit" value="Create Owner">
</form>
