<h1>Create a new Owner</h1>

<form action="/owners" method="POST">
  <label>Name:</label>

  <br>

  <input type="text" name="owner[name]">

  <br>

  <label>Choose an existing pet:</label>

  <br>

  <% @pets.each do |p| %>
    <p><input type="checkbox" name="owner[pet_ids][]" value="<%= p.id %>" id="<%= p.id %>"><%= p.name %></p>
  <% end %>

  <br>

  <label>and/or, create a new pet:</label>
    <label>name:</label>
    <input type="text" name="pet[name]" value="">

  <br>

  <input type="submit" value="Create Owner">
</form>
