<h1>Create a new Owner</h1>

<form action="/owners" method="POST">
  <label>Name:</label>
  <input type="text" name="owner[name]">

  <br><h4>Choose an existing pet:</h4>
  <%@pets.each do |p| %>
  <input type="checkbox" name = "owner[pet_ids][]" value=<%=p.id%> id="<%=p.id%>"><%=p.name%></input>
  <% end%>
  <p>and/or,create a new pet:
  <p>Name:<input type= text name = "pet[name]"></input>
  <br></br>
  <input type="submit" value="Create Owner">
</form>
