<h1>Create a new Owner</h1>

  <label>Name:</label>

  <br></br>

  <label>name:</label>
  <input type="text" name="pet[name]" >
  <br></br>
 <h2>Choose an existing pet:</h2>
  <br></br>
  <%@pets.each do |p| %>
  <input type="checkbox" name="owner[pet_ids][]" value="<%=p.id%>" id="<%=p.id%>">
  <form action="/owners" method="POST">
    <% end %>
  <input type="text" name="owner[name]">

  <br></br>

  <input type="submit" value="Create Owner">
</form>
