<h1>Create a New Owner</h1>

<form action="/owners" method="POST">

  <label>Owner Name: </label>
    <br></br>
    <input type="text" name="owner[name]" id="owner_name">
    <br></br>

  <p>Choose an existing pet:</p>
    <%@pets.each do |pet|%>
      <input type="checkbox" name="owner[pet_ids][]" id="<%= pet.id %>" value="<%=pet.id%>"><%=pet.name%></input>
    <%end%>
    <br></br>

  <p>and/or, create a new pet: </p>
    <label>Pet Name:</label>
    <input  type="text" name="pet[name]" id="pet_name"></input>
    <br></br>

  <input type="submit" value="Create Owner">

</form>
