<h1>Create a New Owner</h1>

<form action="/owners" method="POST">
  <label>Name:</label>

  <br></br>

  <input type="text" name="owner[name]">

  <br></br>
  <label>Choose existing pet(s):</label>
  <% @pets.each do |pet| %>
    <p><input type="checkbox" name="owner[pet_ids][]" value="<%= pet.id %>" id="<%= pet.id %>"><%= pet.name %>
    </input></p>
    <% end %>
    <br><br>

    <label>and/or create a new pet:</label>
    <br><br>
    <label>name:</label>
    <input type="text" name="pet[name]" value="">
    <br><br>
  <input type="submit" value="Create Owner">
</form>
