<h1>Create a new Owner</h1>

<form action="/owners" method="POST">
  <label>Name:</label>

  <br></br>

  <input type="text" name="owner[name]">

  <br></br>
  <label>Choose an existing pet:</label>
  <%@pets.each do |pet|%>
                            <!-- LOOK! vvv We want the params hash to include an owner hash and that hash to include a pet_ids array-->
    <input type="checkbox" name="owner[pet_ids][]" value="<%=pet.id%>" id="<%=pet.id%>"><%=pet.name%></input>
  <%end%>

  <br />
  <label>and/or, create a new pet:</label>
  <br />
  <input type="text" name="pet[name]" id="pet_name" />
  <br />

  <input type="submit" value="Create Owner">
</form>
