<h1>Create a new Owner</h1>

<form action="/owners" method="POST">
  <label>Name:</label>

  <br>

  <input type="text" name="owner[name]">

  <br>
  <!-- Then, we can iterate over them in our owners/new.erb view using ERB tags to inject each pet's
  information into a checkbox form element. Let's take a look: -->
  <label>Choose an existing pet:</label>

  <br>

    <%@pets.each do |pet|%>
    <input type="checkbox" name="owner[pet_ids][]" value="<%=pet.id%>" id= "<%=pet.id%>"><%=pet.name%></input>
    <%end%>

  <br>

    <label>and/or create a new pet:</label>
    <br>
    <label>name:</label>
    <input type="text" name="pet[name]">
    <br>
  <input type="submit" value="Create Owner">
</form>
