<h1>Create a new Owner</h1>

<form action="/owners" method="POST">
  <label>Name:</label>

  <br>

  <input type="text" name="owner[name]">

  <br>

  <h3>Choose existing pet</h3>
  <br>
  <% @pets.each do |pet| %>
  <input type="checkbox" name="owner[pet_ids][]" value="<%= pet.id %>" id="<%= pet.id %>"><%=pet.name %></input>
  <% end %>
  <br>

  <h3>Create a new pet:</h3>
  <br>
  <label>Pet Name</label>
  <br>
  <input type="text" name="pet[name]">
  <br>



  <input type="submit" value="Create Owner">
</form>
