<h1>Create a new Owner</h1> 

<form action="/owners" method="POST">
  <label>Name:</label>
  
  <br></br>
  
  <input type="text" name="owner[name]" id="owner_name">
  <!--- name="owner[name]" means the structure returned is owner =>{:name => whatever value entered} -->
  

  <br></br>
  
  <label>Choose an Existing Pet:</label>
  
  <br></br>

  <%Pet.all.each do |pet|%>
    <input type="checkbox" name="owner[pet_ids][]" value="<%=pet.id%>" id="<%=pet.id%>"><%=pet.name%></input>
    <!-- name="owner[pet_ids][]" value=pet.id returns owner => {pet_ids = [pet.id...]}-->
  <%end%>

  <br></br>
    <label>and/or, create a new pet:</label>
    <br></br>
    <label>name:</label>
      <input type="text" name="pet[name]"></input>
    <br></br>


  <input type="submit" value="Create Owner">
</form>