<h1>Create a new Owner</h1>

<form action="/owners" method="POST">
  <label>Name:</label>

  <br></br>
  <!-- type in name of new owner -->
  <input type="text" name="owner[name]" id="owner_name">

  <br></br>

  <label>Choose an existing pet:</label>

  <br></br>

  <!-- creates checkbox list of existing pets -->
  <%Pet.all.each do |pet|%>
    <input type="checkbox" name="owner[pet_ids][]" id="<%=pet.id%>" value="<%=pet.id%>"><%=pet.name%></input>
  <%end%>

  <br></br>
  <!-- type in name of new pet, if pet does not exist yet -->
  <label>and/or, create a new pet:</label>
  <br></br>

  <label>name:</label>
  <input type="text" name="pet[name]"></input>

  <br></br>

  <!-- submit form to create owner with pet -->
  <input type="submit" value="Create Owner">
</form>
