<h1>Create a new Owner</h1>

<form action="/owners" method="POST">
  <label>Name:</label>

  <br>

  <input type="text" name="owner[name]" id="owner_name">

  <br>

  <p>Choose an existing pet:</p>
  <% @pets.each do |pet| %> <!-- iterate over collection of pet objects and generate checkbox for each pet  -->
    <input type="checkbox" name="owner[pet_ids][]" value="<%= pet.id %>" id="<%= pet.id %>"><%= pet.name %></input>
  <% end %>
  <input type="submit" value="Create Owner">
</form>
