<h1>Update Pet</h1>
<form method="POST" action="/pets/<%@pet.id%>">



  <input type="text" name= "pet_name" value= "<%=@pet.name%>">
  <input type="text" name="owner" value="<%=@owners.find(@pet.owner_id)[:name]%>">
  <input action="submit" value="Update Pet">
</form>
