<h1>Create a new Pet</h1>

<form action="/pets" method="POST">
  <label>Name:</label>

  <br>

  <input type="text" name="pet_name">

  <br>
  
  <label>Choose an existing owner:</label>
   
  <br>
  
  <%Owner.all.each do |owner|%>
    <input type="checkbox" name="owner" value="<%=owner.id%>" id="<%=owner.id%>"><%=owner.name%></input>
  <%end%>
  
   <br>
 
    <label>and/or, create a new owner:</label>
    <br>
    <label>name:</label>
      <input  type="text" name="owner_name"></input>
    <br>

  <input type="submit" value="Create Pet">
</form>