<h1>Create a new Pet</h1>

<form action="/pets" method="POST">
  <label for="pet[name]">Pet Name:</label><br>
  <input id="pet_name" type="text" name="pet[name]"><br><br>
  <label for="pet[owner_id]">Choose an existing owner:</label><br>
  <% @owners.each do |owner| %>
    <input id="<%= owner.id %>" type="checkbox" name="pet[owner_id]" value="<%= owner.id %>"><%= owner.name %></input><br>
  <% end %><br>
  <label for="owner[name]">And/or, create a new owner:</label><br>
  <input id="owner_name"  type="text" name="owner[name]"><br><br>
  <input type="submit" value="Create Pet">
</form>