<h1>Create a new Pet</h1>

<form action="/owners" method="POST">
 <label>Name:</label>

 <br></br>

 <input type="text" name="owner[name]" id="owner_name">

 <input type="submit" value="Create Owner">
</form>
