<h1>Create a new Pet</h1>

<form action="/pets" method="post">
  <label for="pet_name">Name:</label></br>
  <input id="pet_name" type="text" name="pet[name]"></br>

  <% @owners.each do |owner| %>
    <input id="<%= owner.id %>" value="<%= owner.id %>" type="checkbox" name="pet[owner_id][]">
      <%= owner.name %>
    </input>
  <% end %>

  </br>

  <label for="owner_name">or, create a new owner</label></br>
  <input id="owner_name" type="text" name="owner[name]"></br>

  <input type="submit" value="Create Pet">
</form>
