<h1>Create a new Pet</h1>

<form action="/pets" method="POST">
  <label>Name:</label>
  
  <br></br>
  
  <input type="text" name="pet[name]" id="pet_name">
  
  <br></br>
  
  Owner:
  <% @owners.each do |owner| %>
    <p><input type="checkbox" name="pet[owner_id]" value="<%=owner.id%>" id="<%=owner.id%>"><%=owner.name%></p>
  <% end %>
  
  Don't See The Owner Here? Add a New One:
  <p><label>Name:</label>
  <input  type="text" name="owner[name]" id="owner_name"></p>

  <input type="submit" value="Create Pet">
</form>