<h1>Create a new Pet</h1>

<form action="/pets" method="POST">
  <label>Pet Name:</label>
    <input type="text" name="pet[name]" id="pet_name">

    <br>

    <label>Choose an existing owner:</label>
    <% @owners.each do |owner| %>
      <input type="checkbox" name="owner[name]" value="<% owner.id %>" id="<%= owner.id %>"><%= owner.name %></input>
    <% end %>

    <br>
    <br>

    <label>and/or, create a new owner:</label>
    <br>
    <label>Name:</label>
      <br>
      <input type="text" name="owner[name]" id="owner[name]">
    <br>
  <input type="submit" value="Create Pet">
</form>
