<h1>Create a new Pet</h1>

<form method="POST" action="/pets">
  <label>Pet Name:</label>
  <br>
  <input type="text" name="pet_name"></input>

  <br>
  <p>Select an existing owner or create a new one below.</p>

  <h3>Existing Owners</h3>
  <% @owners.each do |owner| %>
    
    <input type="radio" name="owner_id" id="<%= owner.id %>" value="<%= owner.id %>"><%= owner.name %></input><br>
  <% end %>

  
</form>





