<h1>Create a new Pet</h1><!-- passing -->

<form action="/pets" method="POST"
<label>Name:</label>

 <br></br>

 <input type="text" name="pet[name]" id="pet_name">

 <br></br>

 <label>Choose an Existing Owner:</label>

 <br></br>

 <%Owner.all.each do |owner|%>
  <input type="checkbox" name="pet[owner_id]" value="<%=owner.id%>" id="<%=owner.id%>"><%=owner.name%></input><!-- id= is to satisfy Capybara test? -->
  <%end%>


  <br></br>
  <label>Or Create a New Owner:</label>
  <br></br>
  <label>Name:</label>
  <input type="text" name="owner[name]" id="owner_name"></input>

  <br></br>

  <button type="submit" value="Create Pet">Create Pet</button>
</form>