<h1>Create a new Pet</h1>

<form action="/pets" method="POST">
  <label>Name:</label>

  <br></br>

  <input type="text" name="owner[name]">

  <br></br>
  <%@owners.each do |owner|%>
  <input type="checkbox" name="owner[owner_ids][]" value="<%=owner.id%>" id="<%=pet.id%>"><%=pet.name%></input>
<%end%>
  <br></br>
  <input type="text" name="owner[name]" value="create owner">
  <input type="submit" value="Create Owner">


</form>
