<h1>Create a new Pet</h1>

<form class="form" action="/pets" method="post">
  <label>Name: </label>
  <input type="text" name="pet[name]" id="pet_name">
  <br></br>
  <label>Choose an existing owner: </label><br>
  <%@owners.each do |owner|%>
    <li>
      <input type="checkbox" name="pet[owner_id]" value="<%=owner.id%>" id="<%=owner.id%>">
      <%=owner.name%>
    </li>
  <%end%>
  <br></br>
  <label>or create a new owner:</label><br>
  Name: <input type="text" name="owner[name]" id="owner_name">
  <br></br>
  <input type="submit" value="Create Pet">

</form>
