<h1>Create a new Pet</h1>

<form action="/pets" method="POST">
  <label>Name:</label>

  <br></br>

  <input type="text" name="pet[name]" id="pet_name">

  <br></br>

  <label>Choose an existing owner:</label>

  <br></br>

  <!--Creates checkboxes of Pet names
  Built a form that dynamically generates checkboxes for each of the existing pets.-->
  <%Owner.all.each do |owner|%>
    <input type="checkbox" name="pet[owner_ids][]" id="<%=owner.id%>" value="<%=owner.id%>"><%=owner.name%></input>
    <%end%>

  <br></br>

  <!--section for creating a new pet at the bottom of the form
  Added a field to that form in which a user can fill out the name for a brand new pet.-->
  <label>and/or, create a new owner:</label>
  <br></br>
  <label>name:</label>
    <!--and we've given that input field a name of owner[name]
    added id="owner_name"-->
    <input type="text" name="owner[name]" id="owner_name"></input>
  <br></br>

    <input type="submit" value="Create Pet">
</form>
