<h1>Create a new Pet</h1>


<form method="POST" action="/pets">

  <p>Name: <input id="pet_name" type="text" name="pet[name]"></p>
  <p>Select an owner:</p>
  
  <% Owner.all.each do |owner| %>
    <p><input type="checkbox" id="<%=owner.id%>" value="<%=owner.id%>" name="pet[owner_id]"><%=owner.name%></input></p>
  <% end %>

  <p>and/or, create a new owner</p>
  <p>Name: <input id="owner_name" type="text" name="owner[name]"></p>
  <input type="submit" value="Create Pet">

</form>
