<h1>Create a new Pet</h1>

<form action="/pets" method="POST">

  <h3>New Pet</h3>
  <label>Pet Name: </label>
  <br>
  <input type="text" name="pet[name]" id="pet_name"></input>
  <br><br>

  <h3>Existing Owners</h3>
    <% @owners.each do |owner| %>
      <input type="checkbox" name="pet[owner_id]" id="<%= owner.id %>" value="<%= owner.id %>"><%= owner.name %></input><br>
    <% end %>
  <br>

  <h3>New Owner</h3>
  <label>Owner Name: </label>
  <br>
  <input type="text" name="owner[name]" id="owner_name"></input>
  <br><br>

  <input type="submit" value="Create Pet">
</form>
