<h1>Create a new Pet</h1>

<form method="POST" action="/pets">
  <label>Pet Name:</label>
  <br>
  <input type="text" name="pet_name"></input>
  <br>
  <input type="radiobuttons" id="<%= owner.id %>"></input>
  <br>
</form>
