<h1>Create a new Pet</h1>

<form method="post" action="/pets">
  <label for="pet_name">Name:</label>
  <input type="text" id="pet_name" name="pet[name]">
  
  <p><input type="submit" value="Create Pet"></p>
</form>