<h1>Create a new Pet</h1>

<form action="/pets" method="POST">
  <label>Pet Name:</label>
  <input id="pet_name" type="text" name="pet[name]">
  <br></br>

  <label>Associate with an existing owner:</label>
  <br></br>

  <% @owners.each do |owner| %>
    <input id="<%=owner.id%>" type="checkbox" name="pet[owner_id]" value="<%=owner.id%>"><%= owner.name %></input>
  <% end %>
  <br></br>

  <label>And/Or Create and Associate with a new Owner:</label>
  <br></br>

  <label>New Owner's Name:</label>
  <input id="owner_name" type="text" name="owner[name]">
  <br></br>

  <input type="submit" value="Create Pet">
</form>
