<h1>Create a new Pet</h1>

<form method="post" action="/pets">
  <input type="text" name="pet[name]" value="name" id="pet_name">
  <br></br>
  <label>select an existing owner</label>
  <br></br>
    <% Owner.all.each do |x| %>
      <label><%= x.name %></label>
      <input type="checkbox" name="pet[owner_id]" id="<%= x.id %>" value="<%= x.id %>"><%= x.name %></input>
    <% end %>
  <br></br>
  <label>and/or create a new owner</label>
  <br></br>
  <input type="text" name="owner[name]" id="owner_name">
  <br></br>
  <input type="submit" value="Create Pet">
</form>