<h1>Create a new Pet</h1>

<form action="/pets" method="POST">
  <label>Name:</label>
  <input type="text" name="pet[name]">
  <label>Existing Owners:</label>
  <% Owner.all.each do |owner| %>
    <label><input type="checkbox" name="pet[owner_id]" value="<%= owner.id %>" id="<%= owner.id %>"><%=owner.name %></label>
  <% end %>
  <br>
  <label>New Owner:</label>
  <input type="text" name="owner[name]">
  <br>
  <input type="submit" value="Create Pet">
</form>

