<h1>Create a new Pet</h1>

<form action='/pets' method="POST">
    <input type="text" name="pet[name]" id="pet_name">

    <br></br>

    Pick an existing owner:
    <br></br>
    <% @owners.each do |owner| %>
        <label for="<%= owner.id %>"><%= owner.name %></label>
        <input type="radio" name="pet[owner_id]" id="<%= owner.id %>" value="<%= owner.id %>">
    <% end %>
    
    <input type="submit" value="Submit">

    


</form>

