<h1>Pet Name: <%=@pet.name%> </h1>
<h4>Owner Name:<%=@pet.owner.name%></h4>

<p><a href="/owners/<%= @pet.owner_id %>">Owner's Page</a></p>
<p><a href="/pets/<%= @pet.id %>/edit">Edit Pet</a></p>
<p><a href="/pets">Pet Index</a></p>
