<h1><%= @pet.name %></h1>
<h4>Owner:</h4>
<% if !@pet.owner %>
  This pet doesn't have an owner.
<% else %>
  <%= @pet.owner.name %>
<% end %>

<br>
<br>

<a href="/pets/<%= @pet.id %>/edit">Edit Pet</a>
