<!DOCTYPE html>
<html>
<head>
  <title>Individual Pet</title>
</head>
	<body>
		<label><h1>Individual Pet</h1></label>
		<form action="/pets/show" method="get">
			<p>Pet: <%= @pet.name %></p>
			<p>Owner: <a href="/owners/<%="#{@pet.owner_id}"%>"><%= @pet.owner.name %></a></p>
		</form>
	</body>
</html>