<h1>Pet: <%=@pet.name%></h1>

<% if @pet.owner_id %>
  <% @owner = Owner.find(@pet.owner_id) %>
  <h4>Owner: <%=@owner.name%></h4>
<% else %>
  <h4>Owner: Use the edit link to give <%=@pet.name%> an Owner!</h4>
<% end %>

<br></br>

<a href="/pets/<%= @pet.id %>/edit">Edit pet</a>
