<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <style media="screen">
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
