<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <style type="text/css">
    	fieldset {
    		max-width: 200px;
    		float left;
    	}
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>