<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
    <%= yield %>
  <br></br>
    <button type="submit" value="new_owner"><a href="/owners/new">New Owner</a></button>
    <button type="submit" value="new_pet"><a href="/pets/new">New Pet</a></button>
  <br></br>
    <button type="submit" value="all_owners"><a href="/owners">See all owners</a></button>
    <button type="submit" value="all_pets"><a href="/pets">See all pets</a></button>
  </body>


</html>