<form method="post" action="/play">
  <p>Whatever</p>
  <input type="text" name="hash[what]"/>
  <input name="hash[arr][]"/>
  <input name="hash[arr][]"/>
  <input name="ash"/>
  <input type="submit"/>
</form>
